In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/thispc/Desktop/Machine-learning/pandas/kaggle-dataset/customer.csv')

In [3]:
df

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [5]:
X = df[['review','education']] #ordinal data seperated

In [8]:
X

     review education
0   Average    School
1      Poor        UG
2      Good        PG
3      Good        PG
4   Average        UG
5   Average    School
6      Good    School
7      Poor    School
8   Average        UG
9      Good        UG
10     Good        UG
11     Good        UG
12     Poor    School
13  Average    School
14     Poor        PG
15     Poor        UG
16     Poor        UG
17     Poor        UG
18     Good    School
19     Poor        PG
20  Average    School
21  Average        PG
22     Poor        PG
23     Good    School
24  Average        PG
25     Good    School
26     Poor        PG
27     Poor        PG
28     Poor    School
29  Average        UG
30  Average        UG
31     Poor    School
32  Average        UG
33     Good        PG
34  Average    School
35     Poor    School
36     Good        UG
37  Average        PG
38     Good    School
39     Poor        PG
40     Good    School
41     Good        PG
42     Good        PG
43     Poor        PG
44  Average        UG
45     Poor        PG
46     Poor        PG
47     Good        PG
48     Good        UG
49     Good        UG

In [9]:
y = df['purchased']

In [10]:
y

0      No
1      No
2      No
3      No
4      No
5     Yes
6      No
7     Yes
8      No
9     Yes
10    Yes
11    Yes
12     No
13     No
14    Yes
15     No
16    Yes
17    Yes
18     No
19    Yes
20    Yes
21     No
22    Yes
23     No
24    Yes
25     No
26     No
27     No
28     No
29    Yes
30     No
31    Yes
32    Yes
33    Yes
34     No
35    Yes
36    Yes
37    Yes
38     No
39     No
40     No
41    Yes
42    Yes
43     No
44     No
45    Yes
46     No
47    Yes
48    Yes
49     No
Name: purchased, dtype: object

In [11]:
from sklearn.preprocessing import OrdinalEncoder

In [29]:
obj1 = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']],dtype=int)

In [30]:
obj1

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']],
               dtype=<class 'int'>)

In [37]:
ordinal_encode_X =obj1.fit_transform(X)

In [39]:
X_encoded_df = pd.DataFrame(ordinal_encode_X,columns=['Review_encoded','Education'])

In [42]:
pd.concat([X_encoded_df,df],axis=1)  #correct data encoded

    Review_encoded  Education  age  gender   review education purchased
0                1          0   30  Female  Average    School        No
1                0          1   68  Female     Poor        UG        No
2                2          2   70  Female     Good        PG        No
3                2          2   72  Female     Good        PG        No
4                1          1   16  Female  Average        UG        No
5                1          0   31  Female  Average    School       Yes
6                2          0   18    Male     Good    School        No
7                0          0   60  Female     Poor    School       Yes
8                1          1   65  Female  Average        UG        No
9                2          1   74    Male     Good        UG       Yes
10               2          1   98  Female     Good        UG       Yes
11               2          1   74    Male     Good        UG       Yes
12               0          0   51    Male     Poor    School        No
13               1          0   57  Female  Average    School        No
14               0          2   15    Male     Poor        PG       Yes
15               0          1   75    Male     Poor        UG        No
16               0          1   59    Male     Poor        UG       Yes
17               0          1   22  Female     Poor        UG       Yes
18               2          0   19    Male     Good    School        No
19               0          2   97    Male     Poor        PG       Yes
20               1          0   57  Female  Average    School       Yes
21               1          2   32    Male  Average        PG        No
22               0          2   18  Female     Poor        PG       Yes
23               2          0   96  Female     Good    School        No
24               1          2   16  Female  Average        PG       Yes
25               2          0   57  Female     Good    School        No
26               0          2   53  Female     Poor        PG        No
27               0          2   69  Female     Poor        PG        No
28               0          0   48    Male     Poor    School        No
29               1          1   83  Female  Average        UG       Yes
30               1          1   73    Male  Average        UG        No
31               0          0   22  Female     Poor    School       Yes
32               1          1   92    Male  Average        UG       Yes
33               2          2   89  Female     Good        PG       Yes
34               1          0   86    Male  Average    School        No
35               0          0   74    Male     Poor    School       Yes
36               2          1   34  Female     Good        UG       Yes
37               1          2   94    Male  Average        PG       Yes
38               2          0   45  Female     Good    School        No
39               0          2   76    Male     Poor        PG        No
40               2          0   39    Male     Good    School        No
41               2          2   23    Male     Good        PG       Yes
42               2          2   30  Female     Good        PG       Yes
43               0          2   27    Male     Poor        PG        No
44               1          1   77  Female  Average        UG        No
45               0          2   61    Male     Poor        PG       Yes
46               0          2   64  Female     Poor        PG        No
47               2          2   38  Female     Good        PG       Yes
48               2          1   39  Female     Good        UG       Yes
49               2          1   25  Female     Good        UG        No

In [43]:
# label encodeing

In [44]:
from sklearn.preprocessing import LabelEncoder

In [45]:
obj2 = LabelEncoder()

In [59]:
y_encnoded = obj2.fit_transform(y)

In [61]:
y_encoded_df = pd.DataFrame(y_encnoded,columns=['y_encoded'])

In [64]:
y_encoded_df

    y_encoded
0           0
1           0
2           0
3           0
4           0
5           1
6           0
7           1
8           0
9           1
10          1
11          1
12          0
13          0
14          1
15          0
16          1
17          1
18          0
19          1
20          1
21          0
22          1
23          0
24          1
25          0
26          0
27          0
28          0
29          1
30          0
31          1
32          1
33          1
34          0
35          1
36          1
37          1
38          0
39          0
40          0
41          1
42          1
43          0
44          0
45          1
46          0
47          1
48          1
49          0

In [65]:
# gender one-hot encoding

In [67]:
from sklearn.preprocessing import OneHotEncoder

In [128]:
obj = OneHotEncoder(sparse_output=False,dtype=int,drop='first')

In [129]:
array_gender = obj.fit_transform(df[['gender']])

In [130]:
array_gender

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0]])

In [134]:
Encoded_gender = pd.DataFrame(array_gender,columns=['encoded_gender'])

In [139]:
final_df = pd.concat([df,Encoded_gender,X_encoded_df,y_encoded_df,],axis=1)

In [141]:
final_df

,age,gender,review,education,purchased,encoded_gender,Review_encoded,Education,y_encoded
0,30,Female,Average,School,No,0,1,0,0
1,68,Female,Poor,UG,No,0,0,1,0
2,70,Female,Good,PG,No,0,2,2,0
3,72,Female,Good,PG,No,0,2,2,0
4,16,Female,Average,UG,No,0,1,1,0
5,31,Female,Average,School,Yes,0,1,0,1
6,18,Male,Good,School,No,1,2,0,0
7,60,Female,Poor,School,Yes,0,0,0,1
8,65,Female,Average,UG,No,0,1,1,0
9,74,Male,Good,UG,Yes,1,2,1,1
10,98,Female,Good,UG,Yes,0,2,1,1
11,74,Male,Good,UG,Yes,1,2,1,1
12,51,Male,Poor,School,No,1,0,0,0
13,57,Female,Average,School,No,0,1,0,0
14,15,Male,Poor,PG,Yes,1,0,2,1
15,75,Male,Poor,UG,No,1,0,1,0
16,59,Male,Poor,UG,Yes,1,0,1,1
17,22,Female,Poor,UG,Yes,0,0,1,1
18,19,Male,Good,School,No,1,2,0,0
19,97,Male,Poor,PG,Yes,1,0,2,1
20,57,Female,Average,School,Yes,0,1,0,1
21,32,Male,Average,PG,No,1,1,2,0
22,18,Female,Poor,PG,Yes,0,0,2,1
23,96,Female,Good,School,No,0,2,0,0
24,16,Female,Average,PG,Yes,0,1,2,1
25,57,Female,Good,School,No,0,2,0,0
26,53,Female,Poor,PG,No,0,0,2,0
27,69,Female,Poor,PG,No,0,0,2,0
28,48,Male,Poor,School,No,1,0,0,0
29,83,Female,Average,UG,Yes,0,1,1,1
30,73,Male,Average,UG,No,1,1,1,0
31,22,Female,Poor,School,Yes,0,0,0,1
32,92,Male,Average,UG,Yes,1,1,1,1
33,89,Female,Good,PG,Yes,0,2,2,1
34,86,Male,Average,School,No,1,1,0,0
35,74,Male,Poor,School,Yes,1,0,0,1
36,34,Female,Good,UG,Yes,0,2,1,1
37,94,Male,Average,PG,Yes,1,1,2,1
38,45,Female,Good,School,No,0,2,0,0
39,76,Male,Poor,PG,No,1,0,2,0
40,39,Male,Good,School,No,1,2,0,0
41,23,Male,Good,PG,Yes,1,2,2,1
42,30,Female,Good,PG,Yes,0,2,2,1
43,27,Male,Poor,PG,No,1,0,2,0
44,77,Female,Average,UG,No,0,1,1,0
45,61,Male,Poor,PG,Yes,1,0,2,1
46,64,Female,Poor,PG,No,0,0,2,0
47,38,Female,Good,PG,Yes,0,2,2,1
48,39,Female,Good,UG,Yes,0,2,1,1
49,25,Female,Good,UG,No,0,2,1,0

In [144]:
final_df.columns

Index(['age', 'gender', 'review', 'education', 'purchased', 'encoded_gender',
       'Review_encoded', 'Education', 'y_encoded'],
      dtype='object')

In [146]:
final_df.drop(columns=['gender','review','education','purchased'],axis=1,inplace=True)

In [147]:
final_df

    age  encoded_gender  Review_encoded  Education  y_encoded
0    30               0               1          0          0
1    68               0               0          1          0
2    70               0               2          2          0
3    72               0               2          2          0
4    16               0               1          1          0
5    31               0               1          0          1
6    18               1               2          0          0
7    60               0               0          0          1
8    65               0               1          1          0
9    74               1               2          1          1
10   98               0               2          1          1
11   74               1               2          1          1
12   51               1               0          0          0
13   57               0               1          0          0
14   15               1               0          2          1
15   75               1               0          1          0
16   59               1               0          1          1
17   22               0               0          1          1
18   19               1               2          0          0
19   97               1               0          2          1
20   57               0               1          0          1
21   32               1               1          2          0
22   18               0               0          2          1
23   96               0               2          0          0
24   16               0               1          2          1
25   57               0               2          0          0
26   53               0               0          2          0
27   69               0               0          2          0
28   48               1               0          0          0
29   83               0               1          1          1
30   73               1               1          1          0
31   22               0               0          0          1
32   92               1               1          1          1
33   89               0               2          2          1
34   86               1               1          0          0
35   74               1               0          0          1
36   34               0               2          1          1
37   94               1               1          2          1
38   45               0               2          0          0
39   76               1               0          2          0
40   39               1               2          0          0
41   23               1               2          2          1
42   30               0               2          2          1
43   27               1               0          2          0
44   77               0               1          1          0
45   61               1               0          2          1
46   64               0               0          2          0
47   38               0               2          2          1
48   39               0               2          1          1
49   25               0               2          1          0