In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\a i\anaconda3\lib\site-packages (2.2.9)

In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\a i\anaconda3\lib\site-packages (8.3.0)

In [ ]:
mysql - server
mssql - server


AWS RDS: mysql,mssql,oracle
AWS s3 : bucket data fetch

Azure Blob Storage 
local file upload
download

In [ ]:
env variable
config file
secreate manager -- key-vaualt

In [4]:
import mysql.connector as msc

In [9]:
import json

In [14]:
config = open("config.json")
cred = json.load(config)

In [12]:
#connection string
conn = msc.connect(host=cred['host'],user=cred['username'],passwd=cred['password'],port=cred['port'])

In [15]:
cur = conn.cursor()

In [17]:
sql_query = "create database pythondb28072024"

cur.execute(sql_query)
print("database successfully created")

database successfully created

In [18]:
#mssql server

In [19]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\a i\anaconda3\lib\site-packages (4.0.0-unsupported)

In [2]:
import pyodbc

In [2]:
connectionstring = f'DRIVER={{ODBC Driver 17 for SQL server}};SERVER={"KANTILAL-AI"};DATABASE={"pythondbconn"};Trusted_Connection=yes'

In [41]:

conn = pyodbc.connect(connectionstring)
cur = conn.cursor()
cur.execute("create table emp111123(id int,name varchar(20))")
conn.close()

In [49]:
#insert operation

In [53]:
conn = pyodbc.connect(connectionstring)
cur = conn.cursor()

In [56]:
cur.execute("insert into emp111123 values(102,'madhav')")
cur.commit()

In [3]:
connectionstring = f'DRIVER={{ODBC Driver 17 for SQL server}};SERVER={"KANTILAL-AI"};DATABASE={"pythondbconn"};Trusted_Connection=yes'
conn = pyodbc.connect(connectionstring)
cur = conn.cursor()

In [5]:
def db_decor(fun):
    def inner():
        global connectionstring,conn,cur
        connectionstring = f'DRIVER={{ODBC Driver 17 for SQL server}};SERVER={"KANTILAL-AI"};DATABASE={"pythondbconn"};Trusted_Connection=yes'
        conn = pyodbc.connect(connectionstring)
        cur = conn.cursor()
        fun()
        cur.commit()
        conn.close()
    return inner

In [6]:
@db_decor
def datafetch():
    cur.execute("insert into emp111123 values(102,'kkkkk')")

In [7]:
datafetch()

In [8]:
@db_decor
def datadump():
    cur.execute("insert into emp111123 values(106,'tushar')")

In [9]:
datadump()

In [ ]:
#select -- fetch

In [ ]:
fetch one
fetch many
fetch all

In [3]:
connectionstring = f'DRIVER={{ODBC Driver 17 for SQL server}};SERVER={"KANTILAL-AI"};DATABASE={"pythondbconn"};Trusted_Connection=yes'
conn = pyodbc.connect(connectionstring)
cur = conn.cursor()

In [26]:
cur.execute("select * from emp111123")

In [17]:
cur.fetchall()

[(101, 'keshav'),
 (101, 'keshav'),
 (102, 'madhav'),
 (102, 'kkkkk'),
 (106, 'tushar')]

In [23]:
cur.fetchone()

(102, 'kkkkk')

In [27]:
cur.fetchmany(3)

[(101, 'keshav'), (101, 'keshav'), (102, 'madhav')]

In [29]:
#delete obj

In [30]:
cur.execute("delete from emp111123 where id=102")
cur.commit()
conn.close()

In [4]:
#bulk insert

cur.execute("""BULK INSERT emp111123
FROM 'C:\\Users\\A I\\Desktop\\empcsv.csv'
WITH ( FORMAT = 'csv')""")
cur.commit()
conn.close()

In [ ]:
mysql
mssql server


mongoDB
postgrey
oracle